<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rack">
    <xacro:macro name="rgbd" params="*origin parent prefix">
        <link name="rgbd_camera">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="0.1"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>
            <visual name="">
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
                <material name="">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                    <texture filename=""/>
                </material>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.01 0.01 0.01"/>
                </geometry>
            </collision>
        </link>

        <gazebo reference = "rgbd_camera">
            <sensor name="rgbd_camera" type="rgbd_camera">
                <camera>
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>320</width>
                        <height>240</height>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                </camera>
                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>
                <topic>rgbd_camera</topic>
                <enable_metrics>true</enable_metrics>
            </sensor>
        </gazebo>

        <joint name="plane_base_joint" type="fixed">
            <parent link="${parent}" />
            <child link="rgbd_camera" />
            <xacro:insert_block name="origin" />
        </joint>
    </xacro:macro>

    <xacro:macro name="rbs_fts" params="name prefix link">

    <ros2_control name="${name}" type="sensor">
      <hardware>
          <plugin>ign_ros2_control/IgnitionFts</plugin>
      </hardware>

      <sensor name="${prefix}${name}">
        <state_interface name="force.x"/>
        <state_interface name="force.y"/>
        <state_interface name="force.z"/>
        <state_interface name="torque.x"/>
        <state_interface name="torque.y"/>
        <state_interface name="torque.z"/>
      </sensor>
    </ros2_control>

    <gazebo>
        <plugin filename="ignition-gazebo-forcetorque-system" name="ignition::gazebo::systems::ForceTorque"/>
    </gazebo>

    <gazebo reference="${prefix}${link}">
        <sensor name="${prefix}${name}" type="force_torque">
          <always_on>1</always_on>
          <update_rate>10.0</update_rate>
          <visualize>true</visualize>
          <topic>ft_data</topic>
          <force_torque>
            <frame>sensor</frame>
            <measure_direction>child_to_parent</measure_direction>
          </force_torque>
        </sensor>
      </gazebo>
  </xacro:macro>

</robot>